*{
    font-family: 'Open Sans', sans-serif;
}

.appBar{
    background-color: rgb(235, 235, 235);
}

.logo{
    width: 45px;
    height: auto;
    padding: 0.3%;
}

.nome{
    color: #262626;
}

main{
    background-color: #f2f2f2;
}

.headerContent{
    width: 100%;
}

.container{
    padding: 3%;
}

.card{
    margin-bottom: 0.6em;
}

.linkType{
    text-decoration: none;
    color: white;
    margin-right: 0.4em;
}

.comunicado{ background-color: #3333ff;}

.evento{ background-color: #ffcc33;}

.moreButton{
    margin-right: 0.6em;
}

.rightBlock{
    margin-bottom: 0.6em;
}

.quadros{
    background-color: white;
    border-radius: 3px;
}

.quadrosInnerContainer{
    padding: 1.2em;
    align-items: center;
    align-content: center;
}

.quadro{
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    padding-top: 0.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.rightBlockBtn{
    padding: 0;
}

.imgRightBlock{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

@media only screen and (max-width: 620px) {
    .headerContent{
        display: block;
    }
}

@media only screen and (max-width: 1120px) {
    .container{
        display: block;
    }
}

